### Vim ###
*.swp
*.swo

### Eclipse ###
.project
.classpath
.settings/

### IntelliJ ###
.idea
*.ipr
*.iml
*.iws

### NetBeans ###
nb-configuration.xml

### macOS ###
.DS_Store

### Tests ###
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

### Build files ###
*.exe
dist/

### Terraform ###
*.tfstate*
.terraform/
*.tf
!/examples/**/*.tf

### Misc ###
*.jar
*.db
vendor/
/terraform-provider-metabase
/tests/*
