---
page_title: "{{ .Type }}: {{ .Name }}"
subcategory: "" # fill this in manually
description: |-
    {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .Type }}: {{ .Name }}

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
