---
page_title: "Provider: Metabase"
description: |-
    This provider can be used to manage an instance of Metabase.
---

# Metabase Provider

The Metabase provider allows you to configure a [Metabase](https://www.metabase.com/) instance using
infrastructure-as-code.

## Example Usage

{{ tffile .ExampleFile }}

## Authentication

Metabase supports 2 authentication methods, which are used in the following order:

1. [An API key](https://www.metabase.com/docs/latest/people-and-groups/api-keys) (v0.49 or later)
2. Username (email) and password

-> The API key or user should be a member of the _Administrators_ group so that it has access to the entire API.

## Configuring the provider

Most properties can be configured either using the provider attributes or environment variables:

| Setting              | Provider Attribute | Environment variable |
|----------------------|--------------------|----------------------|
| Metabase Host URL/IP | `host`             | `METABASE_HOST`      |
| API Key              | `api_key`          | `METABASE_API_KEY`   |
| Username (email)     | `username`         | `METABASE_USERNAME`  |
| Password             | `password`         | `METABASE_PASSWORD`  |

### Explicit provider attributes

{{ tffile "examples/provider/provider_attributes.tf" }}

!> **Warning:** Hard-coded credentials are not recommended in any Terraform configuration and risks secret leakage.

### Using env variables

{{ tffile "examples/provider/provider_env.tf" }}

### Using another provider

You can also use another provider to set the credentials for you. For example, using AWS and Secrets Manager:

{{ tffile "examples/provider/provider_aws.tf" }}

> This example assumes a JSON secret, but it can be any structure.

{{ .SchemaMarkdown }}
