name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

permissions:
  contents: write

jobs:
  terraform-provider-release:
    uses: hashicorp/ghaction-terraform-provider-release/.github/workflows/community.yml@v2
    secrets:
      gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
      gpg-private-key-passphrase: ${{ secrets.GPG_PASSPHRASE }}
    with:
      release-notes: false
      setup-go-version: '1.18.x'
  update-release-notes:
    needs: [ terraform-provider-release ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install keepachangelog
        run: pip install keepachangelog==2.0.0.dev5
      - name: Update release
        run: |
          version=${GITHUB_REF_NAME:1}
          release_notes=$(python -m keepachangelog show $version CHANGELOG.md)
          gh release edit $GITHUB_REF_NAME --notes "$release_notes"
